{% if show_alfie %}<div
  id="container22"
  data-scroll-id="{{metadata.alfie.section}}"
  data-scroll-behavior="default"
  data-scroll-offset="0"
  data-scroll-speed="3"
  class="style3 container columns full screen purple"
>
  <div class="wrapper">
    <div class="inner" data-onvisible-trigger="1"> {% if metadata.alfie.image_left_side %}
      <div class="full">
        <div id="image01" class="style1 image full" data-position="center">
          <span class="frame"
            ><img src="{{metadata.alfie.image}}" alt="{{metadata.alfie.title}}" loading="lazy" 
          /></span>
        </div>
      </div>
      <div>
        <h3 class="style1">{{metadata.alfie.info}}</h3>
        <h2 class="style2">{{metadata.alfie.title}}</h2>
        <p class="style3">{{metadata.alfie.text}}</p>
        <ul class="style1 buttons">
          <li>
            <a
              href="{{metadata.alfie.button.url}}"
              class="button n01"
              role="button"
              ><span class="label">{{metadata.alfie.button.title}}</span></a
            >
          </li><!--
          <li>
            <a href="{{metadata.alfie.button2.url}}" class="button n02" role="button"
              ><svg aria-labelledby="buttons08-icon-2-title">
                <title id="buttons08-icon-2-title">Email</title>
                <use xlink:href="/assets/icons.svg#email"></use></svg
              ><span class="label">{{metadata.alfie.button2.title}}</span></a
            >
          </li>-->
        </ul>
      <h3 class="style1">{{metadata.newsletter.info}}</h3>
      <h2 class="style2">{{metadata.newsletter.title}}</h2>
      <p class="style3">{{metadata.newsletter.text}}</p>
<form id="form01" method="post" action="{{formspree}}">
        <div class="inner">
          <div class="field">
            <input
              type="email"
              name="email"
              id="form01-email"
              placeholder="Email"
              maxlength="128"
              required
            />
          </div>
          <div class="actions">
            <button type="submit">
              <svg aria-labelledby="form01-submit-icon-title">
                <title id="form01-submit-icon-title">Arrow Right (Light)</title>
                <use
                  xlink:href="/assets/icons.svg#arrow-right-light"
                ></use></svg
              ><span class="label">Submit</span>
            </button>
          </div>
        </div>
        <input type="hidden" name="id" value="form01" />
      </form>
      </div>{% else %}
      
      <div>
        <h4 class="style1">{{metadata.alfie.info}}</h4>
        <p class="style3">{{metadata.alfie.text}}</p>
        <ul class="style1 buttons">
          <li>
            <a
              href="{{metadata.alfie.button.url}}"
              class="button n01"
              role="button"
              ><span class="label">{{metadata.alfie.button.title}}</span></a
            >
          </li>
<!--
          <li>
            <a href="{{metadata.alfie.button2.url}}" class="button n02" role="button"
              ><svg aria-labelledby="buttons08-icon-2-title">
                <title id="buttons08-icon-2-title">Email</title>
                <use xlink:href="/assets/icons.svg#email"></use></svg
              ><span class="label">{{metadata.alfie.button2.title}}</span></a
            >
          </li>
-->
        </ul>

      <h3 class="style1">{{metadata.newsletter.info}}</h3>
      <p class="style3">{{metadata.newsletter.text}}</p>
<form id="form02" method="post" action="{{formspree}}">
        <div class="inner">
          <div class="field">
            <input
              type="email"
              name="email"
              id="form02-email"
              placeholder="Email"
              maxlength="128"
              required
            />
          </div>
          <div class="actions">
            <button type="submit">
              <svg aria-labelledby="form02-submit-icon-title">
                <title id="form02-submit-icon-title">Arrow Right (Light)</title>
                <use
                  xlink:href="/assets/icons.svg#arrow-right-light"
                ></use></svg
              ><span class="label">Submit</span>
            </button>
          </div>
        </div>
        <input type="hidden" name="id" value="form02" />
      </form>
      </div>      <div class="full">
        <div id="image01" class="style1 image full" data-position="center">
          <span class="frame"
            ><img src="{{metadata.alfie.image}}" alt="{{metadata.alfie.title}}"  loading="lazy"
          /></span>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
