{% if announcement and announcement.title %}
<div
  id="container140"
  data-scroll-id="introduction"
  data-scroll-behavior="default"
  data-scroll-offset="0"
  data-scroll-speed="3"
  class="style4 container columns full screen purple"
>
  <div class="wrapper">
    <div class="inner" data-onvisible-trigger="1">
      <div>
        <h2 class="style65">{{announcement.title}}</h2>
        {% if announcement.article and announcement.article.text %}
        <p class="style3"><span class="p">{{announcement.article.text}}</span></p>
        {% endif %}
        {% if announcement.article and announcement.article.show_button %}
        <ul class="style1 buttons">
          
          {% if announcement.article.button1 and announcement.article.button1.url %}
          <li>
            <a href="{{announcement.article.button1.url}}" class="button n01" role="button">
              {% if announcement.article.button1.icon %}
              <img src="{{announcement.article.button1.icon}}" witdh="20" height="20" style="padding-right:12px;"
              alt="{{announcement.article.button1.text}}"/>
              {% else %}
              <svg aria-labelledby="buttons06-icon-1-title">
                <title>Arrow Down (Light)</title>
                <use xlink:href="/assets/icons.svg#arrow-down-light"></use>
              </svg>
              {% endif %}
              <span class="label">{{announcement.article.button1.text}}</span>
            </a>
          </li>
          {% endif %}

          {% if announcement.article.button2 and announcement.article.button2.url %}
          <li>
            <a href="{{announcement.article.button2.url}}" class="button n02" role="button">
              {% if announcement.article.button2.icon %}
              <img src="{{announcement.article.button2.icon}}" witdh="20" height="20" style="padding-right:12px;"
              alt="{{announcement.article.button2.text}}"/>
              {% else %}
              <svg aria-labelledby="buttons01-icon-2-title">
                <title>Heart</title>
                <use xlink:href="/assets/icons.svg#heart"></use>
              </svg>
              {% endif %}
              <span class="label">{{announcement.article.button2.text}}</span>
            </a>
          </li>
          {% endif %}

           {% if announcement.article.button3 and announcement.article.button3.url %}
          <li>
            <a href="{{announcement.article.button3.url}}" class="button n01" role="button">
              {% if announcement.article.button3.icon %}
              <img src="{{announcement.article.button3.icon}}" witdh="20" height="20" style="padding-right:12px;"
              alt="{{announcement.article.button3.text}}"/>
              {% else %}
              <svg aria-labelledby="buttons06-icon-1-title">
                <title>Arrow Down (Light)</title>
                <use xlink:href="/assets/icons.svg#arrow-down-light"></use>
              </svg>
              {% endif %}
              <span class="label">{{announcement.article.button3.text}}</span>
            </a>
          </li>
          {% endif %}

        </ul>
        {% endif %}
      </div>
      <div class="full">
        <div class="style1 image full" data-position="center">
          <span class="frame deferred"
            ><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCAyNTYwIDI1NjAiIHdpZHRoPSIyNTYwIiBoZWlnaHQ9IjI1NjAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyZWN0IGZpbGw9IiMyNjFhMGYiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiLz48L3N2Zz4%3D" data-src="{{announcement.image}}" alt="{{announcement.title}}"
          /></span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
