<footer class="py-4 mt-5" 
style="background: var(--dark-green); color: var(--cream);">
<div class="container text-center">
<img src="{{metadata.footer.logo}}" alt="{{metadata.title}}" width="40" height="40" loading="lazy" class="mb-2 footer-logo">
<div>
</div>
</div>
</footer>
<script src="/assets/main.js"></script>
<script type="text/javascript">document.getElementById("tahun").textContent = new Date().getFullYear();</script>
</body>
</html>
