<div id="container141" class="style4 container columns full screen teal" 
      data-scroll-id="{{article.section}}">
  <div class="wrapper">
    <div
      class="inner"
      data-onvisible-trigger="1"
      data-reorder="1,0"
      data-reorder-breakpoint="medium"
    >{% if article.image_left_side %}

            <div class="full">
        <div class="style100 image full" data-position="center">
          <span class="frame deferred"
            ><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCAyNTYwIDI1NjAiIHdpZHRoPSIyNTYwIiBoZWlnaHQ9IjI1NjAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyZWN0IGZpbGw9IiMyNjFhMGYiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiLz48L3N2Zz4%3D" data-src="{{article.image}}" alt="{{article.title}}"
          /></span>
        </div>
      </div>
      <div>
        <h2 class="style2">{{article.title}}</h2>
        <p class="style3">{{content|safe}}</p>
      </div>{% else %}
      <div>
        <h2 class="style2">{{article.title}}</h2>
        <p class="style3">{{content|safe}}</p>
      </div>
            <div class="full">
              <div class="style100 image full" data-position="center">
          <span class="frame deferred"
            ><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCAyNTYwIDI1NjAiIHdpZHRoPSIyNTYwIiBoZWlnaHQ9IjI1NjAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyZWN0IGZpbGw9IiMyNjFhMGYiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiLz48L3N2Zz4%3D" data-src="{{article.image}}" alt="{{article.title}}"
          /></span>
        </div>
      </div>{% endif %}
    </div>
  </div>
</div>

